.successnotif, .errornotif {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.successnotif {
    color: green;
}

.errornotif {
    color: red;
}